<section class="showcase">
  <header>
    <h2 class="logo">StayMove</h2>
    <div class="toggle"></div>
  </header>
  <video src="./assets/video/movie.mp4"  muted loop autoplay></video>
  <div class="overlay"></div>
  <div class="text">
    <h2>Travelling at Home</h2>
    <h3>&copy;2021 NaTMzI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    <a href="./menu">login</a><br>
    <a href="./menu">registration</a>
  </div>
 <ul class="social">
    <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    <li><a href="#"><img src="./assets/icons/icons8-google.svg"></a></li>
  </ul>
</section>
<div class="menu">
  <ul>
    <li><a href="./home">Home</a></li>
    <li><a href="./actual">Aktualności</a></li>
    <li><a href="./blog">Blog</a></li>
    <li><a href="./kontakt">Kontakt</a></li>
  </ul>
</div>

