<app-navbar></app-navbar>

<div class="grid">
  <form class="container">
    <div class="row">
      <div class="input-field col s8">
        <input id="name" type="text"/>
        <label for="name">Name</label>
      </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="surname" type="text"/>
          <label for="surname">Surname</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <select class="browser-default">
          <option value="category">Select category</option>
          <option value="tourist">Tourist</option>
          <option value="guide">Guide</option>
          <option value="tourist/guide">Tourist/Guide</option>
        </select>
      </div>
      </div>
    <div class="row">
      <div class="input-field col s8">
        <input id="country" type="text"/>
        <label for="country">Country</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input id="city" type="text"/>
        <label for="city">City</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input type="file" id="myFile">Load Avatar
      </div>
    </div>
    <button class="btn-small" type="submit">Send</button>
    <button class="btn-small red" type="reset">Reset</button>
  </form>
</div>

