<div class="topnav" id="myTopnav">

    <a href="./home">Home</a>
    <a href="./actual">Aktualności</a>
    <a href="./mapa">Mapa</a>
    <a href="./kontakt">Kontakt</a>
    <a href="./menu">M</a>
    <a href="./settings"><img src="../../../assets/icons/928422-32.png"></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

</div>



<!--
<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <li><a href="./home">Home</a></li>
        <li><a href="./actual">Aktualności</a></li>
        <li><a href="./mapa">Mapa</a></li>
        <li><a href="./kontakt">Kontakt</a></li>
        <li><a href="./menu">M</a></li>
        <li><a href="./settings"><img src="../../../assets/icons/928422-32.png"></a></li>
      </ul>
    </nav>
  </div>
</header>
-->
